.filterBar {

  padding-top: 150px;

}

.mainBtrBar {
  display: grid;
  grid-auto-rows: minmax(20px, auto);
}


.sortRadioBtr {
  grid-column: 3/6;
  grid-row: 1;
}

.sortDropDownBtr {
  grid-column: 5;
  grid-row: 1;
}

.DeletePostBtr{
  margin-top: 10px;
  margin-right: 5px;
}e

#b1{
  margin-right: 20px;
}

.accordionDetail{
  margin-top: 30px;
}

#allPost{
  margin-top: 13px;
}

#toggleAll{
  margin-top: 13px;
}

#MyFavPost{
  margin-top: 13px;
}

#createPopUp{
  margin-top: 13px;
}

.Destination{
  margin-top: 13px;
}
.Description{
  margin-top: -60px;
  width: 400px;
  height: 400px;
}

.picture{
  margin-top: 13px;
}

.detail{
  height: 400px;
}

#bgp {
  background-image: url("../images/background2.0.PNG");
  background-size:50%;
  height: 100vh;
  opacity: 1;
  
}

.AddToFBtr{
  margin-top: 10px;
  margin-right: 5px;
}

#allPost{
  text-align: right;
  vertical-align: middle;
}

#createPopUp{
  text-align: right;
  vertical-align: middle;
}

#MyFavPost{
  text-align: right;
  vertical-align: middle;
}

