.detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
  }
  .Destination {
    grid-column: 1;
    grid-row: 1;
  }
  .picture {
    grid-column: 3;
    grid-row: 1;
  }
  .Outset {
    grid-column: 1;
    grid-row: 2 ;
  }
  .startTime {
    grid-column: 1;
    grid-row: 3;
  }
  .endTime {
    grid-column: 1.2;
    grid-row: 4;
  }
  .numberOfPeople {
    grid-column: 1;
    grid-row: 5;
  }

  .Date{
    grid-column: 1;
    grid-row: 6;
  }

  .Description{
    grid-column: 1;
    grid-row: 8;
  }

  .comment{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 10px;
    grid-auto-rows: minmax(1px, auto);

    /* max-width: 260px; max-height: 100px; */
  }

  .commentDetail{
    /* max-width: 700px;  */
    max-height: 100px;
  }
  
  .DeletePostBtr{
    grid-column: 4;
    grid-row: 1/10;
  }
  .EditPostBtr{
    grid-column: 4;
    grid-row: 3;
  }

  .renderTitle{
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0;
  }

  .renderContent{
    color: #333333; font-family: Georgia, serif; font-size: 18px; line-height: 28px; margin: 0 0 28px;
  }