
body{
    background-image:url("");
    text-align:center;
    background-size: 100%;
    background-repeat: no-repeat;

}
#regis_frame {
    width: 400px;
    height: 450px;
    padding: 13px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
 
    background-color: #9FA8B6;
 
    border-radius: 10px;
    text-align: center;
}
.logo{text-align:center}
.repas_text_field {
    width: 200px;
    height: 55px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
.label_password {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
 
    width: 65px;
    height: 56px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: rgb(138,78,228);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.label_input {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
 
    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: rgb(138,78,228);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text_field {
    width: 200px;
    height: 27px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: 0;
}

 
#btn_login {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
 
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: rgb(138,78,228);
    border-radius: 6px;
    border: 0;
 
    float: left;
}
 
#registed {
    font-size: 15px;
    color: white;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
 
}
 form p > * {
    display: inline-block;
    vertical-align: middle;
}
#registed:hover {
    color: blue;
    text-decoration: underline;
}
#btn_regis {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
 
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: rgb(138,78,228);
    border-radius: 6px;
    border: 0;
 
    float: left;
}

::placeholder {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}
